<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>

   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   


  
  
  
  
  
  
  

  
  
  
  
  
  
  

<extension id="validation.Transitions" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:validation.Transitions" id="validation.Transitions"/>
  </extension>
  <extension id="validation.Ports" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:validation.Ports" id="validation.Ports"/>
  </extension>
  <extension id="validation.Nodes" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:validation.Nodes" id="validation.Nodes"/>
  </extension>
  <extension id="validation.Channels" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:validation.Channels" id="validation.Channels"/>
  </extension>
  <extension id="validation.General" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:validation.General" id="validation.General"/>
  </extension>
  <extension id="codegen.CodegenPatterns" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:codegen.CodegenPatterns" id="codegen.CodegenPatterns"/>
  </extension>
  <extension id="validation.Dfn" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:validation.Dfn" id="validation.Dfn"/>
  </extension>
  <extension id="validation.Mappings" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:validation.Mappings" id="validation.Mappings"/>
  </extension>
</plugin>
